= simple_form_for(@pontodetroca) do |f|
  = f.error_notification

  .form-inputs
    = f.input :nome
    = f.input :endereco, label:'Endereço' 
    = f.input :email

  .form-actions
    = f.submit 'Salvar'
